{{ define "main" }}

  <div class="section-intro">
    <h1>{{ .Title }}</h1>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    <div class="custom-labels">
      <div class="custom-label reading-time">
        <span>Reading time</span>
        <span>{{ .ReadingTime }} min</span>
      </div>
      <div class="custom-label posted">
        <span>Posted</span>
        <span>{{ .PublishDate.Format "2 January 2006" }}</span>
      </div>
    </div>

  </div>

  </div>
  </header>

  <main class="wrapper blog-wrapper">
    {{ .Content }}
  </main>
  
{{ end }}
