<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  <title>
    {{ if .IsHome }}
      {{ site.Title }}
      {{ else }}
        {{ printf "%s | %s" .Title site.Title }}
    {{ end }}
  </title>
</head>
<body {{ if eq .BundleType "leaf" }}class='leaf'{{ end }}>
  <header>
    <div class="wrapper">
      <div class="top-bar">
        {{ partial "header.html" . }}
        <input type="checkbox" id="burger"/>
        <label for="burger">Menu</label>
        {{ partial "menu.html" (dict "menuID" "header" "page" .) }}
        {{ partial "menu.html" (dict "menuID" "instagram" "page" .) }}
      </div>

      {{ block "main" . }}{{ end }}

  <footer>
    <div class="wrapper">
      {{ block "signoff" . }}{{ end }}
      {{ partial "footer.html" . }}
    </div>
  </footer>
  {{ block "ad-runner" . }}{{ end }}
</body>
</html>

{{ define "signoff" }}
<div class="footer-main">
  {{ partial "menu.html" (dict "menuID" "footer" "page" .) }}
  <div class="section-intro">
    <h2>{{ with .Site.GetPage "/" }}{{ .Params.signoff }}{{ end }}</h2>
    {{ partial "menu.html" (dict "menuID" "footer-signoff" "page" .) }}
  </div>
</div>
{{ end }}