{{ define "main" }}

{{- $homeImage := .Resources.GetMatch "homepage-bubble.webp" -}}

{{- /* The following is is used as a fallback if the image is not found or if it's a GIF. */ -}}
{{- $default := printf "<img src=\"%s\"alt=\"%s\" title=\"%s\" />" (.Params.Image | safeURL) $.Title -}}

{{- if $homeImage -}}
        {{- $homeImageOriginalWidth := $homeImage.Width -}}
        {{- $sizes := slice 480 720 960 -}}
        {{- $srcset := slice -}}
        {{- $sizestag := slice -}}
        {{- range $sizes -}}
            {{- if lt (mul . 1.2) $homeImageOriginalWidth -}}
                {{- $thumb := $homeImage.Resize (printf "%dx webp q65" .) -}}
                {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) -}}
                {{- $sizestag = $sizestag | append (printf ("(max-width: %dpx) 100vw") . ) -}}
            {{- end -}}
        {{- end -}}

        {{- if ne (len $srcset) 3 -}}
            {{- $thumb := $homeImage.Resize (printf "%dx webp q65" $homeImageOriginalWidth) -}}
            {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink $homeImageOriginalWidth ) -}}
            {{- $sizestag = $sizestag | append (printf ("%dpx") $homeImageOriginalWidth ) -}}
        {{- end -}}
        <figure class="bubble-mask">
          <div class="bubble-overlay"></div>  
          <img
                src="{{ $homeImage.RelPermalink }}"
                class="bubble-image"
                alt="Photo of Charlie & Emily — Slowmadders"
                {{- if gt (len $srcset) 0 -}}
                    {{- (printf " srcset=\"%s\"" (delimit $srcset ", ")) | safeHTMLAttr -}}
                    {{- (printf " sizes=\"%s\"" (delimit $sizestag ", ")) | safeHTMLAttr -}}
                {{- end -}}
            />
        </figure>
    {{- end -}}


<div class="section-intro">{{ .Content }}</div>
</div>
</header>

<main class="wrapper reading-area" id="posts">
  <h2 class="listing-heading">{{ .Params.heading }}</h2>
  {{ range $k, $v := (where site.RegularPages "Type" "blog") }}
    {{ if and $k (modBool $k 2) }}
      {{ partial "ad.html"  }}
    {{ end }}

    <article class="post-card">
      <a href="{{ .RelPermalink }}"><h3>{{ .LinkTitle }}</h3></a>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </article>
    
  {{ end }}
  
</main>

{{ end }}

{{ define "ad-runner" }}
  {{ partial "ad-runner.html"  }}
{{ end }}