{{ define "main" }}

  <div class="section-intro">
    <h1>{{ .Title }}</h1>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    <div class="custom-labels">
      <div class="custom-label reading-time">
        <span>Reading time</span>
        <span>{{ .ReadingTime }} min</span>
      </div>
      <div class="custom-label posted">
        <span>Posted</span>
        <span>{{ .PublishDate.Format "2 January 2006" }}</span>
      </div>
    </div>

  </div>

  {{- $postImage := .Page.Resources.GetMatch .Params.Image -}}

  {{- /* The following is is used as a fallback if the image is not found or if it's a GIF. */ -}}
  {{- $default := printf "<img src=\"%s\"alt=\"%s\" title=\"%s\" />" (.Params.Image | safeURL) $.Title -}}
  
  {{- if $postImage -}}
          {{- $postImageOriginalWidth := $postImage.Width -}}
          {{- $sizes := slice 480 540 720 960 -}}
          {{- $srcset := slice -}}
          {{- $sizestag := slice -}}
          {{- range $sizes -}}
              {{- if lt (mul . 1.2) $postImageOriginalWidth -}}
                  {{- $thumb := $postImage.Resize (printf "%dx webp q65" .) -}}
                  {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) -}}
                  {{- $sizestag = $sizestag | append (printf ("(max-width: %dpx) 100vw") . ) -}}
              {{- end -}}
          {{- end -}}
  
          {{- if ne (len $srcset) 3 -}}
              {{- $thumb := $postImage.Resize (printf "%dx webp q65" $postImageOriginalWidth) -}}
              {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink $postImageOriginalWidth ) -}}
              {{- $sizestag = $sizestag | append (printf ("%dpx") $postImageOriginalWidth ) -}}
          {{- end -}}
          <figure class="bubble-mask">
              <img
                  src="{{ $postImage.RelPermalink }}"
                  class="bubble-image"
                  alt="{{ .Title }}"
                  {{- if gt (len $srcset) 0 -}}
                      {{- (printf " srcset=\"%s\"" (delimit $srcset ", ")) | safeHTMLAttr -}}
                      {{- (printf " sizes=\"%s\"" (delimit $sizestag ", ")) | safeHTMLAttr -}}
                  {{- end -}}
              />
          </figure>
      {{- end -}}

  </div>
  
  </header>

  <div class="wrapper">

  <main class="reading-area">
    {{ .Content }}
  </main>
  
  <div class="sidebar">
    
    <ins class="adsbygoogle"
    style="display:inline-block;width:300px;height:250px"
    data-ad-client="ca-pub-7352398288541323"
    data-ad-slot="4653598909">
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <article>

      {{- $aboutImage := .Parent.Resources.GetMatch "about-bubble.webp" -}}

      {{- /* The following is is used as a fallback if the image is not found or if it's a GIF. */ -}}
      {{- $default := printf "<img src=\"%s\"alt=\"%s\" title=\"%s\" />" (.Params.Image | safeURL) $.Title -}}
      
      {{- if $aboutImage -}}
              {{- $aboutImageOriginalWidth := $aboutImage.Width -}}
              {{- $sizes := slice 180 360 -}}
              {{- $srcset := slice -}}
              {{- $sizestag := slice -}}
              {{- range $sizes -}}
                  {{- if lt (mul . 1.2) $aboutImageOriginalWidth -}}
                      {{- $thumb := $aboutImage.Resize (printf "%dx webp q65" .) -}}
                      {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) -}}
                      {{- $sizestag = $sizestag | append (printf ("(max-width: %dpx) 100vw") . ) -}}
                  {{- end -}}
              {{- end -}}
      
              {{- if ne (len $srcset) 3 -}}
                  {{- $thumb := $aboutImage.Resize (printf "%dx webp q65" $aboutImageOriginalWidth) -}}
                  {{- $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink $aboutImageOriginalWidth ) -}}
                  {{- $sizestag = $sizestag | append (printf ("%dpx") $aboutImageOriginalWidth ) -}}
              {{- end -}}
              <figure class="bubble-mask">
                  <img
                      src="{{ $aboutImage.RelPermalink }}"
                      class="bubble-image"
                      alt="Photo of Charlie & Emily — Slowmadders"
                      {{- if gt (len $srcset) 0 -}}
                          {{- (printf " srcset=\"%s\"" (delimit $srcset ", ")) | safeHTMLAttr -}}
                          {{- (printf " sizes=\"%s\"" (delimit $sizestag ", ")) | safeHTMLAttr -}}
                      {{- end -}}
                  />
              </figure>
          {{- end -}}
    
      <h2>Who are the slowmadders?</h2>
      <p>We're Charlie and Emily and we love slow travel (in our van or out of a bag) and sharing what we discover.</p>
      <p>We created this corner of the net to share our knowledge of vanlife, van builds, backpacking, and the places we explore in more depth that we already do over on Instagram.</p>
      <p><a>Find out about our story</a></p>
      
    </article>

    <nav>
      <h2>Browse all post tags</h2>
      <ul>
        {{ range .Site.Taxonomies.tags }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
    </nav>

  </div>

  </div>
  
{{ end }}

{{ define "ad-runner" }}
  {{ partial "ad-runner.html"  }}
{{ end }}