{{ define "main" }}

<div class="section-intro">
    <h2>{{ .Title }}</h2>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    {{ $sections := split .Content "Images:" }}

    <div class="project-overview">
        {{ index $sections 0 | safe.HTML }}
    </div>

    <div class="custom-labels">
      {{ range .Params.custom_label }}
      <div class="custom-label {{ .name }}">
        <span>{{ .name | markdownify }}</span>
        <span>{{ .content | markdownify }}</span>
      </div>
      {{ end }}
    </div>
    
</div>
</div>
</header>

<main class="wrapper">
    {{ index $sections 1 | safe.HTML }}
  
</main>
{{ end }}
