:root {
  --block: #15241E;
  --ink: #454545;
  --paper: #FAFAF5;
  --brighter: #00FFA3;
  --bright: #009962;
}

body {
  margin: 0;
  font-family: "Source Serif 4", "Times New Roman";
  font-size: 20px;
  line-height: 1.6;
  color: var(--ink);
  background-color: var(--paper);
}

header, footer, header h1, footer h2 {
  color: var(--paper);
}

@font-face {
  font-family: Poppins;
  src: url('/poppins-light.ttf') format('truetype');
  font-weight: normal;
  font-display: swap
}

@font-face {
  font-family: Poppins;
  src: url('/poppins-bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap
}

@font-face {
  font-family: "Source Serif 4";
  src: url('/SourceSerif4-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap
}

@font-face {
  font-family: "Source Serif 4";
  src: url('/SourceSerif4-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap
}

header .top-bar, footer, .custom-labels, .tags, h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -0.025em;
  line-height: 1.4;
  color: var(--block);
}

h1, h2, h3, h4, h5, h6, .footer-bar p {
  text-wrap: balance;
}

.leaf main :is(h1, h2, h3, h4, h5, h6) {
  margin: 2.5em 0 0 0;
}

.leaf main :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

.wrapper {
  max-width: 1188px;
  margin: 0 auto;
  padding: 120px 40px;
  box-sizing: border-box;
  position: relative;
}



/* Link styles */

a {
  color: var(--bright);
}

.section-intro a {
  color: var(--brighter);
}

a {
  text-decoration: underline;
  text-underline-offset: 25%;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-thickness: 1.5px;
}

header .top-bar a, footer a {
  color: var(--paper);
  text-decoration: none;
}

header .top-bar a:hover, footer a:hover {
  opacity: 0.75;
}



/* Headers and footers*/

header .wrapper, footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 40px 80px;
  position: relative;
}

footer .wrapper {
  padding: 80px 40px 30px;
}

header, footer {
  background-color: var(--block);
  height: 0;
  overflow-x: hidden;
}

header h1, footer h2 {
  font-size: 36px;
  margin: 0;
}

.section-intro h1 {
  margin: 0;
}

header nav li:last-child {
  margin-left: auto;
  height: 0;
  position: relative;
  top: -10px;
}

:is(header,footer .section-intro) nav li:last-child a {
  background-image: url(/instagram.svg);
  display: block;
  width: 66px;
  height: 32px;
  text-indent: -99999em;
  position: relative;
}

:is(header,footer .section-intro) nav li:last-child a:before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: url(/instagram-picture.jpg);
  background-size: cover;
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
}

header ul, footer ul {
  display: flex;
  column-gap: 20px;
  padding: 0;
}

header .top-bar ul, footer ul {
  text-transform: lowercase;
}

header ul li, footer ul li {
  display: inline;
}

header .top-bar, footer nav:first-child {
  font-size: 14px;
  line-height: 1.4;
}

.section-intro {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 540px;
}



/* ------ Header specific */

header h1 {
  margin: 0;
}

header {
  height: auto;
}

header .section-intro {
  margin-top: 15%;
}

header .section-intro:has(.tags) {
  margin-top: 60px;
  gap: 30px;
}

header:has(.tags) h1, footer h2, .post-card h3 {
  font-weight: normal;
}

header .top-bar {
  display: flex;
  margin-bottom: 60px;
  z-index: 1;
  gap: 20px;
  align-items: baseline;
}

header .top-bar h1, header .top-bar ul {
  line-height: 1;
  margin: 0;
  padding: 0;
}

header .section-intro:has(p) {
  width: 42%;
  margin-left: auto;
}

header .section-intro p {
  opacity: 0.75;
}

header nav {
  width: 100%;
}



/* ------ Footer specific */

footer {
  min-height: 560px;
}

.footer-main {
  align-items: baseline;
  flex-direction: row-reverse;
}

.footer-main, .footer-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-bar p {
  width: 360px;
  text-align: right;
  font-size: 12px;
  line-height: 1.4;
}

footer .section-intro {
  gap: 20px;
  max-width: 640px;
}

footer .section-intro nav ul {
  gap: 40px;
}



/* ------ Listing */

.listing-heading, h3 {
  font-size: 36px;
}

.post-card {
  color: var(--bright);
  text-decoration: none;
  margin-top: 60px;
  display: block;
  font-size: 32px;
}



/* ------ Reading area */

.leaf .wrapper:has(.reading-area) {
  justify-content: space-between;
}

.leaf .wrapper {
  display: flex;
}

.reading-area {
  max-width: 728px;
}

.leaf main p + p {
  margin-top: 0;
}

.adsbygoogle {
  background-color: #d9d9d9;
  margin: 40px 0;
}

.mobile-ad {
  display: none;
}

p:first-child {
  margin-top: 0;
}

.leaf main h2 { font-size: 28px; }
.leaf main h3 { font-size: 24px; }
.leaf main h4 { font-size: 20px; }
.leaf main h5 { font-size: 20px; font-family: "Source Serif 4", "Times New Roman"; font-weight: bold; }
.leaf main h6 { font-size: 16px; font-family: "Source Serif 4", "Times New Roman"; font-weight: bold; }

.leaf main img {
  width: 100%;
  border-radius: 60px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
}

.leaf main ul {
  margin: 2em 0
}

.leaf main li {
  margin-bottom: 0.5em;
}



/* ------ Post sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 0;
}

.sidebar p, .sidebar h2 {
  margin: 0 0 10px 0;
}

.sidebar p, .sidebar a {
  font-size: 16px;
}

.sidebar h2 {
  font-size: 20px !important;
}

.sidebar nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar .adsbygoogle {
  margin: 0
}



/* ------ Post information labels */

.custom-labels {
  display: flex;
  gap: 40px;
  flex-direction: row;
  width: 100%;
}

.custom-label {
  display: inline-block;
}

.custom-label span {
  display: block;
}

.custom-label span:first-child {
  font-size: 14px;
  color: #999;
  text-transform: lowercase;
}



/* ------ Bubble images */

.bubble-mask {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
}

.bubble-image {
  mask: url(/bubble.svg) no-repeat;
  mask-size: 100% 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar .bubble-mask {
  width: 180px;
  height: 170px;
  margin-bottom: 30px;
}

/* Hero bubbles */
header .bubble-mask {
  position: absolute;
  width: 540px;
  height: 520px;
  bottom: -60px;
  right: 40px;
}

/* Homepage bubble */
body:not(.leaf) .bubble-mask {
  mask: url(/bubble.svg) no-repeat;
  mask-size: 100% 100%;
  width: 57vw;
  height: 110vh;
  bottom: 100px;
  right: auto;
  left: -15%;
  max-width: 900px;
  max-height: 800px;
}

.bubble-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 75%);
  z-index: 1;
}


/* ------ Tagging pills */

.tags {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  gap: 10px;
  list-style: none;
}

.tags li a {
  display: inline;
  text-transform: lowercase;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 100px;
  border: 1px solid var(--bright);
  line-height: 1;
  text-decoration: none;
}

header .tags {
  margin-bottom: 0;
  order: -1;
}

header .tags li a {
  color: var(--brighter);
  border-color: var(--brighter);
}



.desktop-ad {
  display: block;
}



/* ------ Responsive overrides */

@media only screen and (max-width: 1180px)  {

  .leaf .wrapper:has(.reading-area) {
    justify-content: center;
  }
  
  .sidebar {
    display: none;
  }

  .footer-main {
    flex-direction: column;
    gap: 20px;
  }

  header .bubble-mask {
    right: -40px;
  }

}

@media only screen and (max-width: 1024px)  {
  header .bubble-mask {
    right: -120px;
    width: 500px;
    height: 500px;
    bottom: -40px;
  }
}


@media only screen and (max-width: 808px)  {

  .desktop-ad {
    display: none;
  }

  .mobile-ad {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
    padding: 60px 25px;
  }

  header .wrapper, footer .wrapper {
    padding: 25px 25px 60px;
  }

  nav ul {
    gap: 15px;
  }

  header nav {
    top: 0;
  }

  main img {
    width: 100%;
    margin-bottom: 80px;
  }

  .custom-labels {
    gap: 25px;
    flex-wrap: wrap;
  }

  body {
    font-size: 18px;
  }

  .leaf main img {
    border-radius: 30px;
    margin: 20px 0;
  }

  .section-intro {
    width: auto
  }

  header .bubble-mask {
    position: absolute;
    top: -100px;
    right: -40px;
    width: 90vw;
    height: 365px;
  }

  header .section-intro:has(.tags) {
    margin-top: 170px;
  }

  header h1, footer h2 {
    font-size: 32px;
  }

}

@media only screen and (max-width: 640px)  {

  .listing-heading, h3 {
    font-size: 24px;
  }

  .mobile-ad {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }


}