<meta name="robots" content="noindex" /> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}index.xml" title="{{ .Site.Title }}">

{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if .IsPage }}
<meta name="description" content="{{ .Summary | plainify }}">
{{ else }}
<meta name="description" content="We're Charlie & Emily, blogging about our journey as slow mads, be it vanlife tips or travel guides, driving in our van or exploring out of a backpack.">
{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}